body{
	background-image: url('back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	text-align: center;
	font-size: 25px;
	color: #2FF658;
}
.sec1{
	margin-top: 15%;
}
.t1{
	margin-bottom: 20px;
}
.sec2{
	margin-top: 70%;
	margin-bottom: 20%;
}
img{
	position: relative;
}
.sec2 a{
	text-decoration: none;
	color: #2FF658;
}
.dot{
	margin-right: 10px;
}
.pro-1{
	float: left;
	margin-left: 22%;
}
.pro-2{
	margin-bottom: 15%;
}
.pro-3{
	float: left;
	margin-left: 22%;
}
.pro-4{
	margin-bottom: 25%;
}
.pro-5{
	float: left;
	margin-left: 17%;
}
.pro-6{
	margin-bottom: 10%;
}
@media(max-width: 800px){
	.sec2 .pro-1{
		margin-left: 38%;
		padding-right: 20%;
		margin-bottom: 20%;
	}
	.pro-2{
		margin-left: 35px;
	}
	.pro-3{
		margin-left: 38%;
		padding-right: 20%;
		margin-bottom: 20%;
	}
	.pro-4{
		margin-left: 25px;
	}
	.pro-5{
		margin-left: 30%;
		padding-right: 20%;
		margin-bottom: 20%;
	}
	.pro-6{
		margin-left: 25px;
	}
}